{% extends "src/_includes/default.njk" %}

{% block title %}Tailwind Eleventy AlpineJS{% endblock %}

{% block content %}
    <div class="grid min-h-screen m-2 place-content-center min-w-screen">
        <h1 class="w-auto px-6 py-2 text-4xl text-white bg-blue-600 border-4 rounded border-gray-50 m4 rounded-2xl">
            Tailwind Starter using Eleventy and AlpineJS
        </h1>
        <a class="block mx-auto mt-3 text-sm font-bold text-blue-900 underline" href="/api/hello">Serverless Function Test</a>
    </div>

{% endblock %}